/* Font */
body {
    
    font-family: "Oxygen Mono", monospace;
    font-weight: 400;
    font-style: normal;
      
      
}

/* center text */
.center-text {
    text-align: center;
}



/* header */

  .container {
    display: flex;
    align-items: center;
  }
  
  .container img {
    width: 200px;
    border-radius: 10%;
  }

  .container .text {
  margin-left: 20px;
}

.center-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.center-div img {
    width: 200px;
    border-radius: 10%;
}



/* footer */
footer {
    background-color: rgba(34, 107, 124, 0.09);
    color: rgb(11, 10, 10);
    text-align: center;
    padding: 7px 0;
}

footer .footer-container {
    max-width: 1200px;
    margin: auto;
}

footer .footer-center-text {
    text-align: center;
    line-height: 0.5;
}

/* Styles for phone screens */
@media only screen and (max-width: 600px) {
    .footer {
        background-color: rgba(34, 107, 124, 0.09);
        color: rgb(11, 10, 10);
        text-align: center;
        padding: 10px 0;
    }
}
